body{
    background-color: aliceblue;
}

.myForm{
    width: 440px;
    height: auto;
    background-color: white;
    margin: 80px auto;
    padding: 30px;
    border: 8px solid lightgray;
}

.myForm:hover{
    background-color: lightblue;
}

h1{
    text-align: center;
    color: darkblue;
    font-size: 40px;
}

.data{
    width: 400px;
    height: 50px;
    margin: 10px;
    background-color: lavender;
    border: 0px;
    padding: 11px;
    font-size: 20px;
}

.btn{
    width: 420px;
    height: 60px;
    background-color: darkblue;
    color: white;
    font: bold;

}

.btn:hover{
    background-color: blueviolet;
}
